<!DOCTYPE html>
<html lang="hu">
<head>
	<meta charset="UTF-8">
	<title>FatherFood</title>
	<link rel="stylesheet" href="res/style.css">
</head>
<body>

	<header>
        <div id="welcome">Üdvözlünk az éttermünkben!</div>
    </header>
	
    <nav>
        <ul>
            
            <li><a href="index.html">Főoldal</a></li>
            <li></li>
            <li><a href="menu.html">Étlap</a></li>
            <li></li>
            <li><a href="desk.html">Asztal foglalás</a></li>
            <li></li>
            <li><a href="about.html">Kapcsolat</a></li>
        </ul>
    </nav>

    <div class="container">
        <main>

            <h1>Foglalj asztalt!</h1>
            <center>
            <form action="post" method="controller.java">
                <div id="desk-container">
                    <div class="booking">
                        <label for="name">Neve:</label>
                        <input type="text" name="name" id="1" required>
                    </div>
                    <div class="booking">
                        <label for="email">e-Mail:</label>
                        <input type="text" name="email" id="2" required>
                    </div>
                    <div class="booking">
                        <label for="phone">Telefonszám:</label>
                        <input type="text" name="phone" id="3" required>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div>
                        <label for="desktype">Asztal méret:</label>
                        <select name="desk-type" id="4" required>
                            <option value="two">Kétszemélyes</option>
                            <option value="three">Háromszemélyes</option>
                            <option value="four">Négyszemélyes</option>
                        </select>
                    </div>
                    <div>
                        <label for="timetable">Időpont:</label>
                        <select name="time-table" id="5" required>
                            <option value="two">8:00 - 9:00</option>
                            <option value="two">9:00 - 10:00</option>
                            <option value="two">10:00 - 11:00</option>
                            <option value="two">11:00 - 12:00</option>
                            <option value="two">12:00 - 13:00</option>
                            <option value="two">13:00 - 14:00</option>
                            <option value="two">14:00 - 15:00</option>
                            <option value="two">15:00 - 16:00</option>
                            <option value="two">16:00 - 17:00</option>
                            <option value="two">17:00 - 18:00</option>
                            <option value="two">18:00 - 19:00</option>
                            <option value="two">19:00 - 20:00</option>
                        </select>
                    </div>
                </div>
                    <input type="submit" value="Küldés">
                </center>
            </form>
        </main>
        <aside>

            <section>
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum deleniti sunt pariatur eligendi itaque laboriosam.</p>
            </section>
            
            <section>
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum deleniti sunt pariatur eligendi itaque laboriosam.</p>
            </section>

        </aside>
    </div>

</body>
</html>